@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font1:'Kanit', Arial, Helvetica, sans-serif;
    --font2:'Anton', Cusive;

    --corverde: #a8f852;
}

header{
    background-color: var(--corverde);
    text-align: center;
    margin-bottom: 50px;
}

header h1:hover{
    background-color: rgba(245, 245, 245, 0.407);
    transition: 0.4s background-color;
    border: 2px solid black;
    text-decoration: underline;
    transition-delay: 0.05s;
}

header a:hover{
    color: black;
}

header a{
    display: block;
    max-width: 300px;
    text-decoration: none;
    color: #E00C00;
}

header h1{
    margin: auto;
    font-size: calc(1.5em + 1vw);
    text-align: center;
    border: 2px solid #E00C00;
    border-radius: 10px;
    font-family: var(--font1);
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
    display: inline-block;
    background-color: black;
    
}

header p{
    padding-top: 10px;
    padding-bottom: 30px;
    color: #940700;
    font-size: 1.2em;
}


div#pain2021{
    margin: auto;
    max-width: 1300px;
    width: 100%;
    height: 400px;
    padding-bottom: 20px;
    background-attachment: fixed;
    background-image: url("../imagens/pain2021-menor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div section{
    display: inline-block;
    background-color: rgba(245, 245, 245, 0.503);
}
